@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-400-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans", sans-serif;
  src: url(../fonts/FiraSans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {

  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

.page-header {
  flex-grow: 1;
  margin: 0 auto;

}

.grey-header {
  padding: 14px 0 13px 3px;
  background: #f3f7f9;
}

.grey {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.name-shop {
  color: #ee3643;
  padding: 0 150px 0 0;
  margin: 0;
  font-style: italic;

}

.header-address {
  color: #32425c;
  padding: 0 32px 0;
  margin: 0;



}

.phone {
  text-decoration: none;
  color: #293449;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 17px;
}

.icon-phone {
  padding-right: 8px;
  float: left;

}



.dark-blue {
  background: #293449;

}

.dark-blue-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: -9px;
}

.header-logo {
  position: relative;
  top: 0;
  left: 0;
}

.main-logo {
  background: #ee3643;
  padding: 12px 55px 20px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.search {

  background: url(../images/search.svg) no-repeat;
  background-size: 20px;
  background-position: center;
  padding-left: 65px;
  margin-top: -8px;
  color: #ffffff;



}

.sign {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #f1f5f7;
  padding: 15px 0;
  justify-content: flex-end;
  align-items: center;



}

.sign-in {
  padding-right: 10px;
  text-align: center;
  justify-content: flex-end;

}


.blue-header-nav {
  background-color: #3d546f;


}

.header-nav {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}



.menu {
  padding: 21px 26px 24px 26px;
  line-height: 24px;
  background-color: #3d546f;
  color: #ffffff;
  text-decoration: none;
  margin-left: 0;
  font-size: 16px;
}

.menu:nth-child(1) {
  margin-left: -22px;
}

.menu:nth-child(3) {
  margin-left: -2px;
}

.menu:nth-child(5) {
  margin-left: -5px;
}

.menu:nth-child(6) {
  margin-left: -5px;
}

.menu:nth-child(7) {
  margin-left: -2px;
}



.bookmark {
  background: url(../images/bookmark.svg) no-repeat;
  background-size: 16px 18px;
  background-position: center;
  margin-left: 90px;
  padding: 10px;


}

.cart {
  background: url(../images/cart.svg) no-repeat;
  background-size: 18px;
  background-position: center;
  padding: 10px;
  margin-left: 23px;

}

.make-order {
  display: flex;
  align-items: center;
  background-color: #63a63e;
  border-radius: 4px;
  border: none;
  padding: 12px 10px;
  margin: 12px 0 16px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-left: 26px;
}

.main-page {
  flex-grow: 1;
  margin: 0 auto;


}

.category-item {
  width: 1170px;
  margin: 0 auto;
  margin-top: 52px;
  display: grid;
  height: 100vh;
  gap: 30px;
  grid-template-areas:
    "A A A A   B B B B   C C C C"
    "D D D D   D D D D   E E E E"
    "D D D D   D D D D   F F F F";

}


.materials {
  grid-area: A;
  background-color: #ffbf47;
  padding: 20px 37px 33px 25px;
}

.tools {
  grid-area: B;
  background-color: #3bbce3;
  padding: 20px 37px 33px 25px;
}

.technic {
  grid-area: C;
  background-color: #dc91db;
  padding: 20px 37px 33px 25px;
}

.catalog {
  grid-area: D;
  background-color: #ffffff;

}

.sales {
  grid-area: E;
  background-color: #8ed78f;
  padding: 20px 37px 33px 25px;
}


.delivery {
  grid-area: F;
  background-color: #ffbf47;
  padding: 20px 37px 33px 25px;
}
